services:
- type: web
  name: bread-van-app
  env: python
  repo: https://github.com/Adrian031903/Spectral.git
  plan: free
  branch: main
  healthCheckPath: /
  buildCommand: "pip install -r requirements.txt"
  startCommand: "gunicorn -c gunicorn_config.py wsgi:app"
  envVars:
  - fromGroup: bread-van-app-settings
  - key: FLASK_SQLALCHEMY_DATABASE_URI
    fromDatabase:
      name: bread-van-db
      property: connectionString
  - key: FLASK_SECRET_KEY
    generateValue: true

envVarGroups:
- name: bread-van-app-settings
  envVars:
  - key: ENV
    value: production
  - key: FLASK_APP
    value: wsgi.py
    

databases:
- name: bread-van-db
  plan: free
  databaseName: bread_van_db